.header-area {
    height: 70px;
    display: flex;
    align-items: flex-end;
}


.header-content {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: 24px;
}

.menu-area {
    display: flex;
    gap: 25px;
}

.right-area {
    display: flex;
    gap: 15px;
    align-items: center;
}


.search-input::placeholder {
    opacity: 0.5;
    color: #000000;
}

.language-select {
    padding: 5px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 10px;
}

.is-active {
    color: black;
    text-decoration: underline;
}

.is-not-active {
    color: black;
}

.popover-item {
    margin: 5px 0px;
    padding: 3px;
    cursor: pointer;
}

.popover-item:hover {
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 3px;
}

.hamburger-menu {
    display: none;
}


.menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.responsive-menu {
    display: none;
}


@media only screen and (max-width: 674px) {
    .header-area {
        height: 45px;
        display: flex;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
    }

    .menu-content {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .responsive-menu {
        display: flex;
        /* backdrop-filter: blur(100px); */
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        margin-top: 133px;
        font-size: 15px;
        padding: 10px 15px;
        left: 0;
        right: 0;
        align-items: center;
        gap: 10px;
        z-index: 999;
    }
}