.header-area {
    height: 70px;
    display: flex;
    align-items: flex-end;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: 24px;
}

.menu-area {
    display: flex;
    gap: 25px;
}

.right-area {
    display: flex;
    gap: 15px;
    align-items: center;
}


.search-input::placeholder {
    opacity: 0.5;
    color: #000000;
}

.language-select {
    padding: 5px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 10px;
}

.is-active {
    color: black;
    text-decoration: underline;
}

.is-not-active {
    color: black;
}