.title-area {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 15px 0px;
}

.red-box {
    background-color: #DB4444;
    width: 20px;
    height: 40px;
    border-radius: 4px;
}

.red-title {
    color: #DB4444;
    font-weight: bold;
}