.form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.button-area-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
}

.edit-title {
    color: #DB4444;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.photo-area {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

@media only screen and (max-width:850px) {
    .form-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 10px;
    }

    .form-area {
        padding: 10px;
    }

    .button-area-end {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 0px;
    }
}

@media only screen and (max-width:385px) {
    .button-area-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px 0px;
    }
}

.upload-photo {
    border-radius: 150px;
    position: relative;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.delete-button {
    position: absolute;
    font-size: 20px;
    color: red;
    cursor: pointer;
    padding: 5px;
}

.delete-button:hover {
    border: 1px solid #ccc;
    border-radius: 50px;
}

.upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.upload-input {
    position: absolute;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}

.upload-button {
    font-size: 100px;
    position: relative;
    width: 250px;
}

.upload-title {
    padding: 5px 0px;
    font-size: 14px;
}