.footer-area {
    background-color: black;
    color: white;
}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    place-items: center;
    align-items: start;
    padding: 30px 10px;
}

.fot-sect1,
.fot-sect2,
.fot-sect3,
.fot-sect4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fot-sect1 {
    grid-area: 1 / 1 / 2 / 2;
}

.fot-sect2 {
    grid-area: 1 / 2 / 2 / 3;
}

.fot-sect3 {
    grid-area: 1 / 3 / 2 / 4;
}

.fot-sect4 {
    grid-area: 1 / 4 / 2 / 5;
}



.fot-sect1 input {
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .fot-sect1,
    .fot-sect2,
    .fot-sect3,
    .fot-sect4 {
        width: 250px;
    }

    .fot-sect1 {
        grid-area: 1 / 1 / 2 / 2;

    }

    .fot-sect2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .fot-sect3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .fot-sect4 {
        grid-area: 4 / 1 / 5 / 2;
    }

}

@media (min-width:601px) and (max-width:850px) {
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        place-content: start;
    }

    .fot-sect1,
    .fot-sect2,
    .fot-sect3,
    .fot-sect4 {
        width: 250px;
    }

    .fot-sect1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .fot-sect2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .fot-sect3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .fot-sect4 {
        grid-area: 2 / 2 / 3 / 3;
    }


}