.footer-area {
    background-color: black;
    color: white;
}

.footer-body {
    padding: 80px 0px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    place-items: center;
    align-items: start;
}

.fot-sect1,
.fot-sect2,
.fot-sect3,
.fot-sect4,
.fot-sect5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fot-sect1 {
    grid-area: 1 / 1 / 2 / 2;

}

.fot-sect2 {
    grid-area: 1 / 2 / 2 / 3;

}

.fot-sect3 {
    grid-area: 1 / 3 / 2 / 4;
}

.fot-sect4 {
    grid-area: 1 / 4 / 2 / 5;
}

.fot-sect5 {
    grid-area: 1 / 5 / 2 / 6;
}

.fot-sect1 input {
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}